<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>service Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section>
      <nav>
        <h1>unic-Icon</h1>
        <div>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/services">OUR SERVICES</a></li>
            <li><a href="/contact">CONTACT US</a></li>
          </ul>
        </div>
      </nav>
    </section>
    <section class="body-sec">
      <h1>Our services</h1>

      <p>
        After you get up and running, you can place Font Awesome icons just
        about anywhere with the courses.
      </p>

      <div class="row">
        <div class="course-col">
          <h3>Intermediate</h3>
          <p>
            After you get up and running, you can place Font Awesome icons just
            about anywhere with the courses. After you get up and running, you
            can place Font Awesome icons just about anywhere with the courses.
          </p>
        </div>

        <div class="course-col">
          <h3>Degree</h3>
          <p>
            After you get up and running, you can place Font Awesome icons just
            about anywhere with the courses. After you get up and running, you
            can place Font Awesome icons just about anywhere with the courses.
          </p>
        </div>

        <div class="course-col">
          <h3>Post Graduation</h3>
          <p>
            After you get up and running, you can place Font Awesome icons just
            about anywhere with the courses. After you get up and running, you
            can place Font Awesome icons just about anywhere with the courses.
          </p>
        </div>
      </div>
    </section>

    <!-----footer-->
    <div class="footer">
      <p>copy: 2023 copy rights reserved created by unity.</p>
    </div>
  </body>
</html>
