body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.body-sec {
  padding-left: 70px;
  padding-right: 70px;
}
nav {
  background-color: #fcabab;
  padding: 15px;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 70px 0 70px;
}

nav ul {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  gap: 10px;
  padding-right: 20px;
}

.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

a {
  /* list-style: none; */
  text-decoration: none;
  color: black;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid#ccc;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.red-btn {
  position: relative;
  color: white;
  cursor: pointer;
  background-color: #fcabab;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 0;
  padding: 12px 34px;
  font-size: 20px;
  border: 1px solid #fff;
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  background-color: #fff3f3;
  padding: 12px;
}
